<h1>New division</h1>

<form action="/wizard_divide">
  <label for="divisor">
    Divide this:
  </label>
  <input id="divisor" name="first_number" text="text">

  <label for="dividend">
    by this:
  </label>
  <input id="dividend" name="second_number" text="text">

  <button>
    Divide!
  </button>
</form>
